<%= form_for @estudio do |f| %>

      <div class="field">
        <%= f.label :Nombre_estudio %><br />
        <%= f.text_field :name %>
      </div>

      <div class="field">
        <%= f.label :Recinto %><br />
        <%= f.collection_select :recinto_id, Recinto.all, :id, :name, {:include_blank => "Seleccionar Recinto"},{:class => "select"}  %>
      </div>

    <%= f.submit 'Enviar', :class => 'btn btn-primary' %>
<% end %>