<h1>Pregunta_informes Index</h1>

<p>
  <%= link_to 'Principal', controller: 'inicio' %> |
  <%= link_to 'Crear', new_pregunta_informe_path %>  
</p>

<table class="table table-striped table-bordered">

  <tr>
    <th>Pregunta</th>
    <th>Respuesta</th>
  </tr>

  <% @pregunta_informes.each do |f| %>
    <tr>
      <td><%= f.pregunta_inf %></td>
      <td><%= f.respuesta %></td>
      <td><%= link_to 'Ver', pregunta_informe_path(f) %></td>
      <td><%= link_to 'Editar', edit_pregunta_informe_path(f) %></td>
    </tr>

  <% end %>

</table>