<%= form_for @user_evento do |f| %>
      <div class="form-group">
          <%= f.label :Evento %><br />
          <%= f.collection_select :evento_id, Evento.all, :id, :nombre_ev, {:include_blank => "Seleccionar Recinto"},{:class => "btn btn-default dropdown-toggle"}  %>
          <%= f.hidden_field :user_id ,value: current_user.id%>
          <%= f.check_box :asiste %>
      </div>
    <%= f.submit 'Enviar', :class => 'btn btn-primary' %>
<% end %>