<h1>User Evento Index</h1>

<p>
  <%= link_to 'Principal',root_path %> |
  <%= link_to 'Crear', new_user_evento_path %>  
</p>

<table class="table table-striped table-bordered">

  <tr>
    <th>Nombre usuario</th>
    <th>Evento</th>
  </tr>

  <% @user_eventos.each do |f| %>
    <tr>
      <td><%= f.user.nombre_user %></td>
      <td><%= f.evento.nombre_ev %></td>
      <td><%= f.asiste %></td>
      <td><%= link_to 'Ver', user_evento_path(f) %></td>
      <%if current_user.rol != "Estudiante" %>
      <td><%= link_to 'Editar', edit_user_evento_path(f) %></td>
      <%end%>
    </tr>

  <% end %>

</table>