<h2>Mis Eventos</h2>

<p>
  <%= link_to 'Eventos',eventos_path %> |
  <%= link_to 'Asistir a Evento', new_user_evento_path %>
</p>

<table class="table table-striped table-bordered">

  <tr>
    <th>Nombre</th>
    <th>Evento</th>
  </tr>

  <% @user_eventos.each do |f| %>
    <tr>
      <td><%= f.user.nombre_user + " " + f.user.apellido_pa + " " + f.user.apellido_ma%></td>
      <td><%= f.evento.nombre_ev %></td>
      <td><%= link_to 'Ver', evento_path(3) %></td>
      <td align="center"><%= link_to 'Desasistir', user_evento_path(f), :confirm => "¿Estas Seguro?", :method => :delete,class: "btn btn-danger"%></td>
    </tr>

  <% end %>

</table>