<%= form_for @informe do |f| %>
    <div class="field">
      <% if current_user.role == "Admin" %>
        <%= f.label :Nombre_informe %><br />
        <%= f.text_field :nombre_inf,  class: "form-control"%>
      <%else%>
        <% if current_page?(new_informe_path) %>
        <%= f.label :Nombre_informe %><br />
        <%= f.collection_select :nombre_inf, Informe.where(user_id: 1), :nombre_inf, :nombre_inf, {:include_blank => "Seleccionar Informe"},{:class => "btn btn-default dropdown-toggle border"}  %>
        <%end %>
      <%end %>
    </div>
    <%= f.fields_for :pregunta_informes do |p|  %>
       <div>
          <% if current_user.role =="Admin" %>
              <%= p.label :Pregunta %>
              <%= p.text_field :pregunta_inf, class: "form-control"%></br>
              <%= p.text_field :respuesta, class: "form-control" %>
          <%else%>
              <%= p.label :Pregunta %>
              <%= p.text_field :pregunta_inf, class: "form-control" ,disabled: true%></br>
              <%= p.text_field :respuesta, class: "form-control"%>
          <%end%>
       </div>
    <%end%>
  </br>
    <div><%= f.submit "Enviar", :class => 'btn btn-primary' %></div>
<% end %>

