<%= form_for @informe do |f| %>
    <div class="field">
      <%= f.label :Nombre_informe %>
      <%= f.select(:nombre_inf,["Informe Semanal"], {}, { :class => 'select' }) %>
    </div>
    <%= f.fields_for :pregunta_informes do |p|  %>
       <div>
          <% if current_user.rol =="Admin" %>
              <%= p.label :Pregunta %>
              <%= p.text_field :pregunta_inf, class: "form-control"%></br>
              <%= p.text_field :respuesta, class: "form-control" %>
          <%else%>
              <%= p.label :Pregunta %>
              <%= p.text_field :pregunta_inf, class: "form-control" ,disabled: true%></br>
              <%= p.text_field :respuesta, class: "form-control"%>
          <%end%>
       </div>
    <%end%>
  </br>
    <div><%= f.submit "Enviar", :class => 'btn btn-primary' %></div>
<% end %>

