<form class="form-inline">
<%= form_for @cuestionario do |f| %>

    <%= f.text_field :nombre_cues , class: "form-control"%>
      <%= f.fields_for :pregunta_cuestionarios do |p|  %>
      <div class="form-group">
              <%= p.check_box :casilla %>
            <% if current_user.rol =="Admin" %>
              <%= p.text_field :pregunta_cues, class: "form-control"%>
               <%= p.hidden_field :respuesta, class: "form-control" %>
               <%= p.hidden_field :cuestionario_id, disabled: true %>
            <%else%>
              <%= p.text_field :pregunta_cues, class: "form-control" %>
              <%= p.text_field :respuesta, class: "form-control"%>
              <%= p.hidden_field :cuestionario_id, disabled: true %>
            <%end%>
        </div>
      <%end%>

  <%= f.submit 'Enviar', :class => 'btn btn-default' %>

<% end %>
</form>

