<%= form_for @cuestionario do |form| %>
  <% if @cuestionario.errors.any? %>
    <div id="error_explanation">
      <h2>No se pudo realizar la acción: <%= pluralize(@cuestionario.errors.count, "Error/es") %> </h2>
      <ul>
        <% @cuestionario.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>

  <% end %>


  <div class="field">
    <% if current_user.rol == 'Admin' %>
      <%= form.label :Nombre_Cuestionario %>
      <%= form.text_field :nombre_cues, :class => 'form-control' %>
    <%else %>
      <% if params[:action] == "new" || params[:action] == "create" %>
        <%= form.label :Nombre_Cuestionario %>      </br>
        <%= form.collection_select :nombre_cues, Cuestionario.where(user_id: 1), :nombre_cues, :nombre_cues, {:include_blank => "Seleccionar Cuestionario"},{:class => "btn btn-default border dropdown-toggle"}  %>
      <% else %>
        <h2><% @cuestionario.nombre_cues%></h2>
      <%end %>
    <%end %>

    </div>


      <%= form.fields_for :pregunta_cuestionarios do |f|  %>
          <%= render 'pregunta_cuestionario_fields', f: f %>
      <%end%>
   <%= link_to_add_fields "Nueva Pregunta", form, :pregunta_cuestionarios %>

  </br>
  <div><%= form.submit 'Enviar', :class => 'btn btn-info' %></div>

<% end %>