<%= form_for @cuestionario do |f| %>
    <div class="field">
      <%= f.label :Nombre_Cuestionario %>
      <% if current_user.rol == 'Admin' %>
          <%= f.text_field :nombre_cues, :class => 'form-control' %>
        <%else%>
          <%= f.select(:nombre_cues,["EDA","Duda Existencial"], {}, { :class => 'btn btn-default dropdown-toggle' }) %>
      <%end%>

    </div>
      <%= f.fields_for :pregunta_cuestionarios do |p|  %>
    </br>
          <div class="form-check-inline">
          <% if current_page? new_cuestionario_path%>
              <%= p.hidden_field :casilla, :value => false %>
          <%else %>
              <%= p.check_box :casilla %>
          <%end %>
          <% if current_user.rol == 'Admin' %>
                <%= p.label :Pregunta %>
                <%= p.text_field :pregunta_cues, class: "form-control" %>
                <%= p.label :Respuesta %>
                <%= p.select(:respuesta,["A","T","R","P"], {}, { :class => 'btn btn-default dropdown-toggle border' }) %>
          <%else%>
                <%= p.label :Pregunta %>
                <%= p.text_field :pregunta_cues, class: "form-control",disable: true%>
                <%= p.hidden_field :respuesta, class: "form-control" %>
          <%end%>
        </div>
    </br>
      <%end%>
  </br>
  <div><%= f.submit 'Enviar', :class => 'btn btn-info' %></div>

<% end %>

