<%= form_for @cuestionario do |f| %>
    <div class="field">
      <%= f.label :Nombre_Cuestionario %>
      <%= f.select(:nombre_cues,["EDA","Duda Existencial"], {}, { :class => 'select' }) %>
    </div>
      <%= f.fields_for :pregunta_cuestionarios do |p|  %>
        <div>
              <%= p.check_box :casilla %>
            <% if current_user.rol == 'Admin' %>
                <%= p.label :Pregunta %>
                <%= p.text_field :pregunta_cues, class: "form-control" %>
                <%= p.label :Respuesta %>
                <%= p.text_field :respuesta, class: "form-control"%>
            <%else%>
                <%= p.label :Pregunta %>
                <%= p.text_field :pregunta_cues, class: "form-control"%>
                <%= p.hidden_field :respuesta, class: "form-control" %>
            <%end%>
        </div>
      <%end%>

  <div><%= f.submit 'Enviar', :class => 'btn btn-default' %></div>

<% end %>

