<%= form_for @cuestionario do |f| %>
      <div class="form-group">
        <%= f.label :Nombre_cuestionario %>
        <%= f.text_field :nombre_cues %>
      </div>

      <div class="form-group">
        <%= f.label :Topico %>
        <%= f.text_field :topico %>
      </div>

      <div class="form-group">
      <%= f.label :image %>
      <%= f.file_field :image %>
      </div>

    <%= f.submit 'Enviar', :class => 'btn btn-primary' %>
<% end %>
