<h1>Cuestionario Index</h1>

<p>
  <%= link_to 'Principal', controller: 'inicio' %> |
  <%= link_to 'Crear', new_cuestionario_path %>  
</p>
<table>

  <tr>
    <th>Nombre Cuestionario</th>
    <th>Cantidad de Preguntas</th>
  </tr>

  <% @cuestionarios.each do |f| %>
    <tr>
      <td><%= check_box_tag "cuestionario_ids[]",f.id %></td>
      <td><%= f.nombre_cues %></td>
      <td><%= PreguntaCuestionario.where(cuestionario_id: f.id).count %></td>
      <td><%= link_to 'Ver', cuestionario_path(f) %></td>
      <td><%= link_to 'Editar', edit_cuestionario_path(f) %></td>
    </tr>

  <% end %>
<%=submit_tag "Editar Encuesta" %>
</table>