<h1>Cuestionario_edas Index</h1>

<p>
  <%= link_to 'Principal', controller: 'inicio' %> |
  <%= link_to 'Crear', new_cuestionario_path %>  
</p>

<table>

  <tr>
    <th>Nombre Cuestionario EdA</th>
    <th>Topico</th>
  </tr>

  <% @cuestionarios.each do |f| %>
    <tr>
      <td><%= f.nombre_cues %></td>
      <td><%= f.topico %></td>
      <td><%= link_to 'Ver', cuestionario_path(f) %></td>
      <td><%= link_to 'Editar', edit_cuestionario_path(f) %></td>
    </tr>

  <% end %>

</table>