<%= form_for @user do |f| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>No se pudo realizar la acción: <%= pluralize(@user.errors.count, "Error/es") %> </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>

  <% end %>
  <div class="field">
    <%= f.label :Nombre %>
    <%= f.text_field :nombre_user,class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :Apellido_paterno %>
    <%= f.text_field :apellido_pa,class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :Apellido_materno %>
    <%= f.text_field :apellido_ma,class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :Rut %>
    <%= f.text_field :rut,class: "form-control" %>
  </div>
  <% if user_signed_in? %>
      <% if current_user.rol != "Admin" %>
          <div class="field">
            <%= f.label :Rol %><br />
            <%= f.select(:rol,["Admin"",PEM", "AES", "Tutor Disciplinar", "Tutor Par", "Coordinación", "Profesional Acompañamiento Psicoeducativo", "Estudiante"], {}, { :class => 'select' }) %>
          </div>
      <%end%>
  <%end%>

  <div class="field">
    <%= f.label :Fecha_de_nacimiento %>
    <%= f.date_field :fecha_nacimiento,class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password,class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :Confirme_su_contraseña %><br />
    <%= f.password_field :password_confirmation,class: "form-control"%>
  </div>

  <div class="field">
    <%= f.label :Comuna %><br />
    <%= f.select(:comuna,["Cerrillos", "Cerro Navia", "Conchalí", "El Bosque", "Estación Central", "Huechuraba", "Independencia", "La Cisterna", "La Florida", "La Granja", "La Pintana", "La Reina", "Las Condes", "Lo Barnechea", "Lo Espejo", "Lo Prado", "Macul", "Maipú", "Ñuñoa", "Pedro Aguirre Cerda", "Peñalolén", "Providencia", "Pudahuel","Santiago Centro", "Quilicura", "Quinta Normal", "Recoleta", "Renca", "San Joaquín", "San Miguel", "San Ramón", "Vitacura", "Puente Alto", "Pirque", "San José de Maipo", "Colina", "Lampa", "Tiltil", "San Bernardo", "Buin", "Calera de Tango", "Paine", "Melipilla", "Alhué", "Curacaví", "María Pinto", "San Pedro", "Talagante", "El Monte", "Isla de Maipo", "Padre Hurtado", "Peñaflor"], {}, { :class => 'select' }) %>
  </div>

  <div class="field">
    <%= f.label :Recinto %><br />
    <%= f.collection_select :recinto_id, Recinto.all, :id, :nombre_recinto, {:include_blank => "Seleccionar Recinto"},{:class => "select"}  %>
  </div>

  <div class="field">
    <%= f.label :Estudio %><br />
    <%= f.collection_select :estudio_id, Estudio.all, :id, :nombre_estudio, {:include_blank => "Seleccionar Estudio"},{:class => "select"}  %>
  </div>

  <div class="field">
    <%= f.label :Dirección %>
    <%= f.text_field :direccion,class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :Nivel_de_estudio %><br />
    <%= f.select(:nivel_estudio,["Superior","Media"], {}, { :class => 'select' }) %>
  </div>

  <div class="field">
    <%= f.label :Fecha_de_Egreso_Enseñanza_Media %>
    <%= f.text_field :fecha_ingreso,class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :Especialidad %>
    <%= f.text_field :especialidad,class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :Telefono %>
    <%= f.text_field :telefono,class: "form-control" %>
  </div>

  <div class="checkbox">
    <%= f.label :estado %>
    <%= f.check_box :estado %>
  </div>
  <%= f.submit 'Enviar', :class => 'btn btn-primary' %>
<% end %>