<% if user_signed_in? and current_user.rol != "Estudiante"%>
  <h2><%= link_to 'Usuarios', users_url %></h2></br>
<%end %>
<h3 class="font-italic"> Usuario:
  <%= @user.nombre_user %> <%= @user.apellido_pa %> <%= @user.apellido_ma %>
  <%= link_to "Editar", edit_user_path(current_user), class: 'btn btn-info'%></h3>
</br>
<h2>Datos Personales</h2>
<table class="table-striped table-bordered table">
  <tr>
    <th>RUT</th>
    <th>Nacionalidad</th>
    <th>Fecha de Nacimiento</th>
    <th>Comuna</th>
    <th>Dirección</th>
    <th>Teléfono</th>
  </tr>
  <tr>
    <td><%= @user&.rut %></td>
    <td><%= @user&.nacionalidad %></td>
    <td><%= @user&.fecha_nacimiento %></td>
    <td><%= @user&.comuna %></td>
    <td><%= @user&.direccion %></td>
    <td><%= @user&.telefono %></td>
  </tr>
</table>

<h2>Datos Academicos</h2>
<table class="table-striped table-bordered table">
  <tr>
    <th>Nivel de Estudio</th>
    <th>Recinto</th>
    <th>Estudio</th>
    <th>Especialidad</th>
  </tr>
  <tr>
    <td><%= @user&.nivel_estudio %></td>
    <td><%= @user&.recinto&.nombre_recinto %></td>
    <td><%= @user&.estudio&.nombre_estudio %></td>
    <td><%= @user&.especialidad %></td>
  </tr>
</table>

<table class="table-striped table-bordered table">
  <tr>
    <th>Informes</th>
  </tr>
  <% @user.informes.each do |f| %>
    <tr>
      <td><%= f.nombre_inf %></td>
      <td><%= link_to 'Ver', informe_path(f) %></td>
      <% if current_user.id == @user.id or current_user&.rol == "Admin"%>
        <td><%= link_to 'Editar', edit_informe_path(f) %></td>
      <%end%>
    </tr>
  <% end %>
</table>
<table class="table-striped table-bordered table">
  <tr>
    <th>Cuestionarios</th>
  </tr>
  <% @user.cuestionarios.each do |f| %>
    <tr>
      <td><%= f.nombre_cues %></td>
      <td><%= link_to 'Ver', cuestionario_path(f) %></td>
      <% if current_user.id == @user.id or current_user.rol == "Admin"%>
        <td><%= link_to 'Editar', edit_cuestionario_path(f) %></td>
      <%end%>
    </tr>
  <% end %>
</table>
<table class="table-striped table-bordered table">
  <tr>
    <th>Eventos</th>
  </tr>
  <% @user.user_eventos.each do |f| %>
    <tr>
      <td><%= f.evento.nombre_ev %></td>
      <td><%= f.evento.fecha_ev %></td>
      <td><%= link_to 'Ver', user_evento_path(f) %></td>
      <% if current_user.id == @user.id or current_user.rol == "Admin"%>
      <%end%>
    </tr>
  <% end %>
</table>