<% if user_signed_in? &&
      current_user.role != "Estudiante"%>
  <h2><%= link_to 'Usuarios', users_url %></h2></br>
<%end %>
<h3 class="font-italic"> Usuario: <%= @user.name %> <%= @user.first_last_name %> <%= @user.second_last_name %></h3>
</br>
<h2>Datos Personales</h2>
<table class="table-striped table-bordered table">
  <tr>
    <th>RUT</th>
    <th>Nacionalidad</th>
    <th>Fecha de Nacimiento</th>
    <th>Comuna</th>
    <th>Dirección</th>
    <th>Teléfono</th>
  </tr>
  <tr>
    <td><%= @user.dni %></td>
    <td><%= @user.nationality %></td>
    <td><%= @user.born_date %></td>
    <td><%= @user.commune %></td>
    <td><%= @user.address %></td>
    <td><%= @user.phone %></td>
  </tr>
</table>

<h2>Datos Academicos</h2>
<table class="table-striped table-bordered table">
  <tr>
    <th>Nivel de Estudio</th>
    <th>Recinto</th>
    <th>Estudio</th>
    <th>Especialidad</th>
  </tr>
  <tr>
    <td><%= @user.academic_level %></td>
    <td><%= @user.recinto.name %></td>
    <td><%= @user.estudio.name %></td>
    <td><%= @user.specialization_branch %></td>
  </tr>
</table>

<table class="table-striped table-bordered table">
  <tr>
    <th>Informes</th>
  </tr>
  <% @user.informes.each do |f| %>
    <tr>
      <td><%= f.nombre_inf %></td>
      <td><%= link_to 'Ver', informe_path(f) %></td>
      <% if current_user.id == @user.id or current_user.role == "Admin"%>
        <td><%= link_to 'Editar', edit_informe_path(f) %></td>
      <%end%>
    </tr>
  <% end %>
</table>
<table class="table-striped table-bordered table">
  <tr>
    <th>Cuestionarios</th>
  </tr>
  <% @user.cuestionarios.each do |f| %>
    <tr>
      <td><%= f.nombre_cues %></td>
      <td><%= link_to 'Ver', cuestionario_path(f) %></td>
      <% if current_user.id == @user.id or current_user.role == "Admin"%>
        <td><%= link_to 'Editar', edit_cuestionario_path(f) %></td>
      <%end%>
    </tr>
  <% end %>
</table>
<table class="table-striped table-bordered table">
  <tr>
    <th>Eventos</th>
  </tr>
  <% @user.user_eventos.each do |f| %>
    <tr>
      <td><%= f.evento.nombre_ev %></td>
      <td><%= f.evento.fecha_ev %></td>
      <td><%= link_to 'Ver', user_evento_path(f) %></td>
      <% if current_user.id == @user.id or current_user.role == "Admin"%>
      <%end%>
    </tr>
  <% end %>
</table>