<h2><%= link_to 'Datos ENS', datos_carreras_url %></h2>
<table class="table table-striped table-bordered">
  <tr>
    <th>Nombre ENS</th>
    <th>Area</th>
    <th>Institucion</th>
    <th>Ultimo Matriculado</th>
    <th>Retencion 1 Año</th>
    <th>Duración</th>
  </tr>
    <tr>
      <td><%= @datos_carrera.nombre_carrera %></td>
      <td><%= @datos_carrera.area %></td>
      <td><%= @datos_carrera.institucion %></td>
      <td><%= @datos_carrera.pun_last_ma %></td>
      <td><%= @datos_carrera.ret_1a %></td>
      <td><%= @datos_carrera.duracion_for %></td>
      <% if user_signed_in? %>
          <%if current_user.rol != "Admin" %>
            <td><%= link_to 'Editar', edit_datos_carrera_path(@datos_carrera) %></td>
          <%end%>
      <%end%>
    </tr>
</table>
<div class="container">
<br>
<div class="row">
  <div class="col">
  <h2>Matriculas Año 2019 por Género</h2>
  <%= column_chart(
                  {"Maculino" => @datos_carrera.mat_h,
                   "Femenino" => @datos_carrera.mat_m}, width: "300px", height: "300px"
                  )
  %>
  </div>
  <div class="col">
  <h2>Duración Real vs Estipulado Año 2019</h2>
  <%= column_chart(
          {"Real" => @datos_carrera.duracion_for,
           "Estipulada" => @datos_carrera.duracion_real}, width: "300px", height: "300px",colors: [ "#ce7d78"]
      )
  %>
</div>
</div>
</div>