<h1>Evento Index</h1>

<p>
  <%= link_to 'Inicio', root_path %> |
  <%= link_to 'Crear', new_evento_path %>  
</p>

<table class="table table-striped table-bordered">

  <tr>
    <th>Fecha</th>
    <th>Nombre del Evento</th>
    <th>Descripcion</th>
    <th>Link de Información</th>
  </tr>

  <% @eventos.each do |f| %>
    <tr>
      <td><%= f.fecha_ev %></td>
      <td><%= f.nombre_ev %></td>
      <td><%= f.descripcion %></td>
      <td align="center"><%= link_to 'Info', "http://#{f.link_ev}" %></td>
      <td><%= link_to 'Ver', evento_path(f) %></td>
      <%if current_user.rol != "Estudiante" %>
      <td><%= link_to 'Editar', edit_evento_path(f) %></td>
      <%end%>
    </tr>

  <% end %>

</table>