<h2>Eventos</h2>

<p>
  <%= link_to 'Asisitr a Evento', new_user_evento_path, class: "btn btn-success" %>
  <%= link_to 'Crear', new_evento_path, class: "btn btn-warning" %>
  <%= link_to 'Mis Eventos', user_eventos_path, class: "btn btn-info" %>
</p>

<table class="table table-striped table-bordered">

  <tr>
    <th>Fecha</th>
    <th>Nombre del Evento</th>
    <th>Descripcion</th>
    <th>Link de Información</th>
  </tr>

  <% @eventos.each do |f| %>
    <tr>
      <td><%= f.fecha_ev %></td>
      <td><%= f.nombre_ev %></td>
      <td><%= f.descripcion %></td>
      <td align="center"><%= link_to 'Info', "http://#{f.link_ev}" %></td>
      <td><%= link_to 'Ver', evento_path(f) %></td>
      <%if current_user.role != "Estudiante" %>
      <td><%= link_to 'Editar', edit_evento_path(f) %></td>
      <%end%>
    </tr>

  <% end %>

</table>