<h2><%= link_to 'Eventos', eventos_path ,class: "text-dark"%></h2>

<table class="table table-bordered table-striped">
  <tr>
    <th>Fecha</th>
    <th>Nombre del Evento</th>
    <th>Descripcion</th>
    <th>Asistencia</th>
    <th>Link de Información</th>
  </tr>

    <tr>
      <td><%= @evento.fecha_ev %></td>
      <td><%= @evento.nombre_ev %></td>
      <td><%= @evento.descripcion %></td>
      <td align="center"><%= @user_eventos.count %></td>
      <td align="center"><%= link_to 'Info', "http://#{@evento.link_ev}" %></td>
      <% if current_user == "Admin" %>
        <td><%= link_to 'Editar', edit_evento_path(@evento.id) %></td>
      <%end %>
    </tr>
</table>
<% if user_signed_in? and current_user.rol != "Estudiante"%>
<h2>Lista de Asistencia</h2><br>
<table class="table-striped table-bordered table">
  <tr>
    <th>Nombre</th>
  </tr>
  <% @user_eventos.each do |f| %>
    <tr>
      <td><%= f.user.nombre_user + " " + f.user.apellido_pa + " " + f.user.apellido_ma %></td>
      <td><%= link_to 'Ver', user_path(f) %></td>
    </tr>
  <% end %>
</table>
<% end %>