<h2><%= link_to 'Eventos', eventos_url %></h2>
<table class="table table-bordered table-striped">
  <tr>
    <th>Nombre Evento</th>
    <th>Descripcion</th>
    <th>Link de Información</th>
  </tr>

    <tr>
      <td><%= @evento.nombre_ev %></td>
      <td><%= @evento.descripcion %></td>
      <td align="center"><%= link_to 'Info', "http://#{@evento.link_ev}" %></td>
      <% if current_user == "Admin" %>
        <td><%= link_to 'Editar', edit_evento_path(@evento.id) %></td>
      <%end %>
    </tr>

</table>
