<div>
      <div class="row">
        <div class="col">
          <div class="container">
              <table class="table table-bordered table-striped table-info">
                <tr>
                  <th>Eventos</th>
                </tr>
                <% @eventos.each do |f| %>
                  <tr>
                    <td><%= link_to f.fecha_ev , evento_path(f), class: "text-dark"%> / <%= link_to f.nombre_ev, evento_path(f), class: "text-dark" %></td>
                  </tr>
                <% end %>
              </table>
          </div>
        </div>
        <div class="col-lg-6">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <%= image_tag("utem_pace.jpg",size: "90x330" , class: "d-block w-100") %>
              </div>
              <div class="carousel-item">
                <%= image_tag("UTEM.jpg",size: "90x330" , class: "d-block w-100") %>
              </div>
              <div class="carousel-item">
                <%= image_tag("covid_02_24_06.jpg",size: "90x330" , class: "d-block w-100") %>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      <br>
        <div class="col">
          <div align="center" class="container">
            <div  class="container-fluid bg-white rounded">
              <%= render "compartido/login" %>
            </div>
          </div>
        </div>
      </div>
  <br>
      <div class="row">
        <div class="col">
          <div class="container">
            <div class="container bg-white p-3 rounded my-2 shadow-sm">
              <div class="row">
                <div class="col">
                  <h4 class="text-center align-self-center">MINEDUC</h4>
                  <%=image_tag("mineduc400x400.jpg",size: "170x160", class: "mx-auto d-block") %> <br>
                </div>
                <div class="col">
                  <p>Órgano rector del Estado encargado de fomentar el desarrollo de la educación en todos sus niveles, a través de una educación humanista democrática, de excelencia y abierta al mundo en todos los niveles de enseñanza.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="container">
            <div class="container bg-white p-3 rounded my-2 shadow-sm">
              <div class="row">
                <div class="col-lg">
                    <h4 class="text-center align-self-center">UTEM</h4>
                    <%=image_tag("Logo-UTEM.png",size: "150x150", class: "mx-auto d-block") %>
                </div>
                <div class="col-lg">
                    <p>Orientación vocacional a todos los alumnos de colegios vulnerables en la Region Metropolitana perteneciente al programa PACE UTEM.</p>
                </div>
              </div>
            </div>
            <div class="container bg-white p-3 rounded my-2 shadow-sm">
              <div class="row">
                <div class="col-lg">
                  <h4 class="text-center align-self-center">PACE UTEM</h4>
                   <%=image_tag("PACE-UTEM.jpg",size: "200x150", class: "mx-auto d-block") %>
                </div>
                <div class="col-lg">
                  <p>Orientación vocacional a todos los alumnos de colegios vulnerables en la Region Metropolitana perteneciente al programa PACE UTEM.</p>
                </div>
              </div>
            </div>
            <div class="container bg-white p-3 rounded my-2 shadow-sm">
              <div class="row">
                <div class="col-lg">
                  <h4 class="text-center align-self-center">PAE UTEM</h4>
                  <%=image_tag("PAE-UTEM.jpg",size: "160x140", class: "mx-auto d-block" ) %>
                </div>
                <div class="col-lg">
                  <p>Orientación vocacional a todos los alumnos de colegios vulnerables en la Region Metropolitana perteneciente al programa PACE UTEM.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="container">
            <div class="container bg-white p-3 rounded my-2 shadow-sm">
              <div class="row">
                <div class="col-lg">
                  <h4 class="text-center align-self-center">Becas y Creditos</h4>
                  <%=image_tag("Logo-UTEM.png",size: "160x160", class: "mx-auto d-block") %>
                </div>
                <div class="col-lg">
                  <p>Orientación vocacional a todos los alumnos de colegios vulnerables en la Region Metropolitana perteneciente al programa PACE UTEM.</p>
                </div>
              </div>
            </div>
            <div class="container bg-white p-3 rounded my-2 shadow-sm">
              <div class="row">
                <div class="col-lg">
                  <h4 class="text-center align-self-center">Registro Social De Hogares</h4>
                  <%=image_tag("RSH-01.png",size: "170x160", class: "mx-auto d-block") %>
                </div>
                <div class="col-lg">
                  <p>Sistema de información cuyo fin es apoyar los procesos de selección de beneficiarios de un conjunto amplio de subsidios y programas sociales.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  <br>
</div>