<%= form_for @archivo do |f| %>
      <div class="form-group">
        <%= f.label :Nombre_archivo %>
        <%= f.text_field :nombre_archivo %>
      </div>

      <div class="form-group">
        <%= f.label :Topico %>
        <%= f.text_field :topico %>
      </div>

      <div class="form-group">
        <%= f.label :Nombre_Asignatura %>
        <%= f.text_field :asignatura %>
      </div>

      <div class="form-group">
      <%= f.label :Documento %>
      <%= f.file_field :documento%>
      </div>

    <%= f.submit 'Enviar', :class => 'btn btn-primary' %>
<% end %>