<h1>Archivos Index</h1>

<p>
  <%= link_to 'Principal', controller: 'inicio' %> |
  <%= link_to 'Crear', new_archivo_path %>  
</p>

<table>

  <tr>
    <th>Nombre Archivo</th>
    <th>Topico</th>
    <th>Documento</th>
  </tr>

  <% @archivos.each do |f| %>
    <tr>
      <td><%= f.nombre_archivo %></td>
      <td><%= f.topico %></td>
      <td><%= f.documento %></td>
      <td><%= link_to 'Ver', archivo_path(f) %></td>
      <td><%= link_to 'Editar', edit_archivo_path(f) %></td>
    </tr>

  <% end %>

</table>