<h2><%= link_to 'Archivos', archivos_url %></h2>
<table>
  <tr>
    <th>Nombre Archivo</th>
    <th>Topico</th>
    <th>Documento</th>
  </tr>

    <tr>
      <td><%= @archivo.nombre_archivo %></td>
      <td><%= @archivo.topico %></td>
      <td align="center"><%= link_to image_tag("document.jpg",size: "35x35"),@archivo.file,download: ''%></td>
      <td><%= link_to 'Editar', edit_archivo_path(@archivo.id) %></td>
    </tr>
    
</table>
