<td><%= link_to 'Archivos', archivos_url %></td>
<table>
  <tr>
    <th>Nombre Archivo</th>
    <th>Topico</th>
    <th>Documento</th>
  </tr>

    <tr>
      <td><%= @archivo.nombre_archivo %></td>
      <td><%= @archivo.topico %></td>
      <td><%= @archivo.documento %></td>
      <td><%= link_to 'Ver', archivo_path(@archivo.id) %></td>
      <td><%= link_to 'Editar', edit_archivo_path(@archivo.id) %></td>
    </tr>
    
</table>
