<!DOCTYPE html>
<html>
  <head>
    <title>PACE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
        <div class="navbar">
          <a class="active" href="#">PACE UTEM</a>
          <a href="#">UTEM</a>
          <a href="#">¿Quienes Somos?</a>
          <a href="#">Contactos</a>
          <a href="#">Usuarios</a>
        </div>
    <%= yield %>
  </body>
</html>
