<!DOCTYPE html>
<html>
  <head>
    <title>PACE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <body>

  <!-- Sidebar -->
  <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
    <h3 class="w3-bar-item">Menu</h3>
    <%=link_to 'User',users_url, :class =>"w3-bar-item w3-button" %>
    <%=link_to 'Archivos',archivos_url, :class =>"w3-bar-item w3-button" %>
    <%=link_to 'Asignatura',asignaturas_url, :class =>"w3-bar-item w3-button" %>
    <%=link_to 'Cuestionario EdA', cuestionario_edas_url, :class =>"w3-bar-item w3-button" %>
    <%=link_to 'Informe',informes_url, :class =>"w3-bar-item w3-button" %>
    <%=link_to 'Datos Carrera',datos_carreras_url, :class =>"w3-bar-item w3-button" %>
    <%=link_to 'Estudios',estudios_url, :class =>"w3-bar-item w3-button" %>
  </div>

  <!-- Page Content -->
  <div style="margin-left:25%">

    <div class="w3-container w3-teal">
      <h1>Plataforma PACE UTEM</h1>
    </div>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </div>
  </body>
</html>
